.filteri{
    margin-top: 0px;
    margin-left: 80px;
    margin-right: 15px;
    border: none;
  }
  .filter{
    border: none !important ;
  }
  .form-group{
    width: 100%; /* Širina form-group */
    max-width: 100%;
    height: 100%; /* Maksimalna širina za bolji izgled */
    margin: 0 auto; /* Centriranje */
    background-color: rgb(220, 231, 232); /* Lagana siva boja pozadine */
    padding: 15px; /* Unutrašnji razmak */
    border-radius: 10px; /* Zaobljeni uglovi */
    border: none;
    position: relative;
    
  }
  .btn{
    background-color: rgb(183, 194, 195) !important; 
    border-color: rgb(207, 219, 220) !important;
  }  
  .redd{
    color: rgb(87, 87, 87) !important;
  }
  .card-header
  {
    background-color: rgb(198, 215, 215) !important;
    color: white;
  }
  .card-body
  {
    background-color: rgb(220, 231, 232) !important;
  }
  .kartica{
    color: white !important;
  }