.filteri{
    margin-top: 0px;
    margin-left: 80px;
    margin-right: 15px;
    border: none;
  }
  .filter{
    border: none !important ;
  }
  .form-group{
    width: 100%; /* Širina form-group */
    max-width: 100%;
    height: 100%; /* Maksimalna širina za bolji izgled */
    margin: 0 auto; /* Centriranje */
    background-color: rgb(220, 231, 232); /* Lagana siva boja pozadine */
    padding: 15px; /* Unutrašnji razmak */
    border-radius: 10px; /* Zaobljeni uglovi */
    border: none;
    position: relative;
    
  }
  .btn{
    background-color: rgb(183, 194, 195) !important; 
    border-color: rgb(207, 219, 220) !important;
  }  
  .redd{
    color: rgb(87, 87, 87) !important;
  }
  input:focus, textarea:focus, select:focus, button:focus {
    outline-color: rgb(208, 207, 207) !important; /* Promenite boju u željenu */
    outline-width: 1px !important; /* Debljina obruba */
    transition: outline-color 0.1s ease-in-out, outline-width 0.1s ease-in-out !important; /* Brzina tranzicije */
}

/* Promena boje fokusa za sve input elemente */
.form-control:focus {
    border-color: rgb(208, 207, 207) !important; /* Boja obruba polja */
    box-shadow: 0 0 0 0.2rem rgb(208, 207, 207) !important; /* Sjenka oko polja */
}

.card-header
{
  background-color: rgb(198, 215, 215) !important;
  color: white;
}
.card-body
{
  background-color: rgb(220, 231, 232) !important;
  color: rgb(87, 87, 87) !important;
}
.kartica{
  color: white !important;
}
.dpodoblast
{
  color: white !important;
  background-color: rgb(93, 117, 117) !important;
}